{
  "processors": ["stylelint-processor-styled-components"],
  "plugins": [
    "stylelint-use-logical",
    "stylelint-images",
    "stylelint-high-performance-animation",
    "stylelint-order"
  ],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-prettier/recommended",
    "stylelint-config-styled-components",
    "stylelint-a11y/recommended",
    "stylelint-config-rational-order",
    "stylelint-8-point-grid"
  ],
  "rules": {
    "csstools/use-logical": "always",
    "images/broken": true,
    "images/prefer-data-uri": 256,
    "plugin/no-low-performance-animation-properties": true,
    "plugin/8-point-grid": {
      "whitelist": ["1px", "2px", "4px", "12px"]
    },
    "order/order": [
      "custom-properties",
      "declarations",
      "rules",
      "at-rules"
    ]
  }
}
